@model CLDV6221_PoE_Part3.Models.TblReturn

@{
    ViewData["Title"] = "Details";
}

<h1>Details Return</h1>

<div>
    <h4>TblReturn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElapsedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElapsedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.CarNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inspector.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReturnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
